/* Add your styles here */

div#kutu{
  width: 220px;
  height: 190px;
  border: 3px solid;
  margin: 2px;
  background-color: white;
 
}


div#kutucevre{

  width: 690px;
  height: 600px;
  border: 5px solid;
  background-color: yellow;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

}

input.kutuici {
    width: 62px;
    height: 57px;
    border: 2px solid;
    margin: auto;
    text-align: center;
    font-size: 1.2em;
}

